<!DOCTYPE html>
<html>

<head>
<title>Sign Language Translator</title>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">
    <div class="logo">SIGNSIGHT</div>
    <div class="line"></div>
</div>

<div class="hero">

<div class="hero-text">

<h1>SIGN LANGUAGE TRANSLATOR</h1>

<p class="tagline">
Breaking communication barriers with AI-powered sign language translation.
</p>

</div>

<div class="mode-container">

<!-- LIVE MODE -->

<div class="card">

<h2>Live Mode</h2>

<form method="GET" action="/live">

<select name="mode">
<option value="letter">Letters</option>
<option value="number">Numbers</option>
<option value="word">Words</option>
</select>

<br><br>

<button type="submit">Start Live</button>

</form>

</div>

<!-- VIDEO MODE -->

<div class="card">

<h2>Video Mode</h2>

<form method="POST" enctype="multipart/form-data">

<select name="mode">
<option value="letter">Letters</option>
<option value="number">Numbers</option>
<option value="word">Words</option>
</select>

<br><br>

<div class="upload-row">

<input type="file" id="videoUpload" name="video" required hidden>

<label for="videoUpload" class="browse-btn">Browse File</label>

<button type="submit">Translate</button>

</div>

<div id="fileName"></div>

</form>

</div>

</div>


{% if result_text or result_list %}

<div class="result-container">

<!-- VIDEO PREVIEW -->

{% if video_path %}
<div class="video-preview">

<video controls width="500">
<source src="{{ video_path }}" type="video/mp4">
</video>

</div>
{% endif %}


<!-- RESULT -->

<div class="result-box">

<h2>Result</h2>

{% if result_list %}

<ol>
{% for item in result_list %}
<li>{{ item.label }} - {{ (item.confidence * 100) | round(2) }}%</li>
{% endfor %}
</ol>

{% else %}

<p>{{ result_text }}</p>

{% endif %}

</div>

</div>

{% endif %}

<script>

const fileInput = document.getElementById("videoUpload");
const fileNameText = document.getElementById("fileName");

fileInput.addEventListener("change", function(){

if(this.files.length > 0){

fileNameText.textContent = this.files[0].name;

}

});

</script>

</body>
</html>